// Colors

$color-white: #ffffff;
$color-black: #000000;
$color-Midnight-Express: #040f46;
$color-Cyan: #00ffff;
$color-Royal-Blue: #3e7ae1;

// Typography

$ff-exo-2: "Exo-2", "Arial", sans-serif;

// Viewport

$vp-tablet: 1023px;
$vp-mobile: 767px;

// Animations
$transition-300: 0.3s ease-in;

